.border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fontello_icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
}
body {
  position: relative;
  z-index: 100;
  background-color: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 15px;
  text-align: center;
  color: #4a80ad;
}
input[type="text"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 15px;
  line-height: 200%;
  padding: 5px 10px;
  width: 100%;
  margin: 5px 0;
}
.button.forward {
  display: block;
  text-align: center;
  font-weight: bold;
  float: right;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 15%;
  margin-top: 5px;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  border-radius: 20px;
  background-color: #59d457;
}
#wrapper #header {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  background-color: #4bbeea;
  padding: 10px 15px;
}
#wrapper #main .section {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
body.main input[name="rx_contact"] {
  width: 80%;
}
.overlay {
  position: absolute;
  height: 100%;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
#card_form {
  position: absolute;
  z-index: 250;
  width: 80%;
  left: 10%;
  top: 10px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}
