html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
}

body {
    position: relative;
    z-index: 100;
}

#wrapper {
    padding: 15px;
}

.overlay {
    position: absolute;
    height: 100%;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

#card_form {
    position: absolute;
    z-index: 250;
    width: 80%;
    left: 10%;
    top: 10px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}